.page {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.link:hover {
  opacity: 0.5;
}
