.places {
  margin: 0 auto;
  max-width: 984px;
}

@media (max-width: 1279px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media (max-width: 1023px) {
  .places {
    width: calc(100% - 48px);
  }
}

@media (max-width: 640px) {
  .places {
    width: 100%;
  }
}
