.footer__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-content);
  grid-auto-flow: column;
  gap: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    grid-auto-flow: row;
    gap: 32px;
  }
}
